---
title: Architecture Team Blog
---

<div class="govuk-width-container product-page-!-border-bottom">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="/">Architecture Team</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__list-item">Blog</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"><%= config[:settings]["blog_title"] %></h1>
        <% blog.articles[0...5].each do |article| %>
          <article>
            <h1>
              <a href="<%= article.url %>" class="govuk-link"><%= article.title %></a>
            </h1>

            <section class="content-section">
              <img src="<%= article.data.image %>" class="image govuk-!-display-block govuk-!-margin-bottom-4">
            </section>

            <div class="govuk-body">
              <span class="govuk-visually-hidden">Posted on: </span>
              <time>
                <span class="posted-on"><%= article.date.strftime('%d %B %Y') %></span>
              </time>
              -
              <span class="govuk-visually-hidden">Category: </span>
              <%= article.data.category %>
            </div>

            <div class="govuk-body">
              <%= article.summary %>
            </div>

            <a href="<%= article.url %>" class="govuk-link">Read more</a>
          </article>
        <% end %>
      </div>
      <div class="govuk-grid-column-one-third">
        <!--
        <h1 class="govuk-heading-l">Tags</h1>
        <ul>
          <% blog.tags.each do |tag, articles| %>
            <li>
              <h5><%= tag %></h5>
              <ul>
                <% articles.each do |article| %>
                  <li><a href="<%= article.url %>"><%= article.title %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
        -->
      </div>
  </div>
</main>
